body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

button {
  display: inline-block;
  border: none;
  padding: 1.4rem 2.6rem;
  margin: 1rem;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2),
    -6px -6px 12px 0 rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.1),
    rgba(255, 255, 255, 0.2)
  );
}

button:active,
button:disabled {
  font-size: 1.8rem;
  box-shadow: inset 3px 3px 2px 0 rgba(0, 0, 0, 0.4),
    inset -3px -3px 2px 0 rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease-in-out;
}
button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
